<p><%=notice%></p>
<p><strong>Title:  <%= @book.title %></p>

<p><strong>Body:  <%= @book.body %></p>


  <%= link_to "Edit", edit_book_path(@book) %>

  <%= link_to "Back", href="/books" %>
  <!--another way for href is books_path-->
